services:
  - type: web
    name: campus-backend
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npx prisma migrate deploy && npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 5000
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
